@font-face {
    font-family: 'RedHatTextVariable';
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'RedHatTextVariable';
    src: url('./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}
:root{
    --rojo: hsl(14, 86%, 42%);
    --verde: hsl(159, 69%, 38%);
    --rosa50: hsl(20, 50%, 98%);
    --rosa1: hsl(13, 31%, 94%);
    --rosa3: hsl(14, 25%, 72%);
    --rosa4: hsl(7, 20%, 60%);
    --rosa5: hsl(12, 20%, 44%);
    --rosa9: hsl(14, 65%, 9%);
}
body {
    font-family: 'RedHatTextVariable', sans-serif; /*- Weights: 400, 600, 700*/
    background-color: var(--rosa1);
}
.cont{
    position: relative;
    text-align: center;
}
.item-btn{
    width: 65%;
    font-size: 0.9rem;
    position: absolute;
    top: 100%;
    /*Posicionaelbotónenelcentroverticalmente*/left: 50%;
    /*Posicionaelbotónenelcentrohorizontalmente*/transform: translate(-50%, -50%);
    /*Centraelbotónexactamente*/z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 1px solid var(--rosa5);
    background-color: var(--rosa50);
    font-weight: 500;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.item-btn:hover{
    background-color: var(--rosa50);
}
.orange{
    color: #c73b0f;
}
.orange-background{
    background-color: #c73b0f;
}
.cart{
    background-color: var(--rosa50);
    height: fit-content;
}
.carbon-neutral{
    background-color: var(--rosa1);
    font-size: 0.8rem;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
}
.cart-item-separator{
    height: 0.1px;
    background-color: gray;
    opacity: 0.2;
}
.remove-button{
    scale: 1.5;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 45%;
    color: var(--rosa9);
    border: var(--rosa5) solid 0.2px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 1px;
    
}
/*  X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
 }

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .item-btn{
        font-size: 1rem;
}
 }

 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .item-btn{
        width: 30% !important;
     }
 }

 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .item-btn{
       font-size: 0.8rem;
       width: 75%;
       padding: 3px;
    }
 }

 /* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
 }